@media (max-width: 1023px) {
  .beauty-profile-main-tittle {
    width: 90%;
  }
  .beauty-profile-main-detail {
    width: 90%;
  }
  .beauty-profile-main-detail-profile {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .beauty-profile-main-tittle {
    width: 90%;
  }
  .beauty-profile-main-tittle-detail {
    font-size: 20px;
  }
  .beauty-profile-main-detail {
    width: 90%;
  }
  .beauty-profile-main-detail-profile {
    font-size: 14px;
  }
  .beauty-profile-main-detail-image {
    height: 300px;
  }
}
@media (max-width: 424px) {
  .beauty-profile-main-detail-content {
    flex-direction: column;
    width: 100%;
  }
  .beauty-profile-main-detail-image {
    width: 100%;
  }
  .beauty-profile-main-detail-profile {
    width: 100%;
    margin-top: 10px;
  }
  .beauty-profile-main-detail-content-2 {
    flex-direction: column-reverse;
    width: 100%;
  }
}
