.beauty-option-tittle {
  border-top: 0.2px solid rgb(255, 255, 255, 0.2);
  border-bottom: 0.5px solid rgb(255, 255, 255, 0.2);
}
@media (max-width: 1023px) {
  .beauty-container {
    width: 100%;
  }
  .beauty-tittle {
    width: 100%;
    font-size: 30px;
  }
  .beauty-option-tittle {
    width: 100%;
  }
  .beauty-HAB-main-option {
    width: 100%;
    flex-direction: column;
  }
  .beauty-HAB-main-option-image {
    height: 300px;
    width: 100%;
  }
  .beauty-info {
    margin: 0;
    width: 100%;
    height: fit-content;
    padding: 20px;
  }
  .beauty-info-tittle {
    font-size: 20px;
  }
  .beauty-info-content {
    padding: 0;
    margin-top: 20px;
  }
  .beauty-info-btn {
    margin: 0;
    margin-top: 10px;
    // margin-left: auto;
  }
  .beauty-HAB-nomal-option {
    padding: 0;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .beauty-HAB-nomal {
    height: 400px;
    width: 45%;
    margin: 10px;
  }
  .beauty-HAB-nomal-image {
    width: 100%;
    height: 200px;
  }
}
@media (max-width: 391px) {
  .beauty-HAB-nomal-option {
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .beauty-HAB-nomal {
    height: 400px;
    width: 44%;
    margin: 10px;
  }
  .beauty-HAB-nomal-image {
    width: 100%;
    height: 120px;
  }
  .beauty-tittle {
    width: 100%;
    font-size: 25px;
  }
  .beauty-option-tittle {
    width: 100%;
  }
  .beauty-info-btn {
    margin: 0;
    margin-top: 10px;
    margin-left: auto;
  }
}
@media (max-width: 321px) {
  .beauty-HAB-nomal {
    width: 100%;
  }
  .beauty-HAB-nomal-option {
    padding: 20px;
  }
  .beauty-option-tittle {
    width: 100%;
    gap: 0;
    font-size: 13px;
    justify-content: space-evenly;
  }
}
