@media (max-width: 1023px) {
  .beauty-profile-tittle {
    width: 90%;
  }
  .beauty-profile-detail {
    width: 90%;
  }
  .beauty-profile-detail-content {
    font-size: 18px;
  }
  .beauty-profile-detail-content-header {
    font-size: 18px;
  }
  .beauty-profile-detail-content-header-detail {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .beauty-profile-tittle {
    width: 90%;
    font-size: 25px;
  }
  .beauty-profile-detail-content-header {
    font-size: 16px;
  }
  .beauty-profile-tittle-detail {
    font-size: 20px;
  }
  .beauty-profile-detail {
    width: 90%;
  }
  .beauty-profile-detail-content {
    font-size: 14px;
    margin-top: 10px;
  }
  .beauty-profile-image {
    height: 300px;
    margin-top: 10px;
  }
}
@media (max-width: 424px) {
  .beauty-profile-detail-content-container {
    flex-direction: column;
    width: 100%;
  }
  .beauty-profile-tittle-detail {
    font-size: 16px;
  }
  .beauty-profile-detail-content-header {
    font-size: 14px;
  }
  .beauty-profile-image {
    width: 100%;
  }
  .beauty-profile-detail-content {
    width: 100%;
  }
  .beauty-profile-detail-content-container {
    flex-direction: column-reverse;
    width: 100%;
  }
}
