@media (max-width: 767px) {
  .contact-HAB-video-showroom {
    height: 200px;
  }
}
@media (max-width: 374px) {
  .contact-HAB-tittle {
    width: 100%;
    padding: 10px;
    padding-top: 30px;
  }
}
