@media (max-width: 1441px) {
  .feedback-fomat-img {
    width: 9%;
    height: 85px;
  }
}
@media (max-width: 1439px) {
  .feedback-HAB-option-filter {
    width: 35%;
  }
  .feedback-page__container {
    width: 95%;
  }
  .feddback-fomat-content-container {
    width: 80%;
  }
  .feedback-fomat-img {
    width: 11%;
    height: 77px;
  }
  .feedback-fomat-info-user {
    width: 87%;
  }
  .feedback-HAB-bottom-btn {
    width: 17%;
  }
}
@media (max-width: 1023px) {
  .feedback-HAB-option-filter {
    width: 45%;
  }
  .feddback-fomat-content-container {
    width: 75%;
  }
  .feedback-HAB-bottom-btn {
    width: 23%;
  }
  .feedback-fomat-img {
    width: 15%;
    height: 77px;
  }
  .feedback-fomat-info-user {
    width: 83%;
  }
}
@media (max-width: 767px) {
  .feedback-HAB-option-filter {
    width: 85%;
  }
  .feedback-fomat-container {
    flex-direction: column;
  }
  .feddback-fomat-content-container {
    width: 100%;
  }
  .feedback-fomat-img {
    width: 20%;
    height: 77px;
  }
  .feedback-fomat-info-user {
    width: 78%;
  }
  .feedback-HAB-bottom-btn {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 424px) {
  .feedback-HAB-option-filter {
    width: 90%;
  }
  .feedback-fomat-img {
    width: 21%;
    height: 70px;
  }
  .feedback-fomat-info-user {
    width: 76%;
  }
  .feedback-fomat-name {
    font-size: 18px;
  }
  .feddback-fomat-content-container {
    padding: 10px;
  }
  .feedback-fomat-time {
    font-size: 14px;
    margin: 0;
    width: 32%;
    margin-top: 10px;
  }
  .feedback-HAB-bottom-btn {
    width: 45%;
  }
}
@media (max-width: 374px) {
  .feedback-HAB-option-filter {
    width: 100%;
    margin-top: 20px;
  }
  .feedback-page-filter {
    font-size: 14px;
  }
  .feedback-fomat-img {
    width: 24%;
    height: 70px;
  }
  .feedback-fomat-info-user {
    width: 73%;
  }
  .feedback-fomat-name {
    font-size: 16px;
  }
  .feedback-fomat-time {
    font-size: 10px;
    width: 30%;
  }
  .feedback-fomat-content {
    font-size: 14px;
  }
  .feedback-HAB-bottom-btn {
    width: 55%;
  }
}
