@media (max-width: 800px) {
  .footer__container {
    width: 100%;
  }
  .footer-info__container {
    justify-content: flex-start;
    border: none;
    border-bottom: 0.2px solid rgb(0, 0, 0, 0.3);
  }
  .footer-contact {
    width: 100%;
    margin: 0;
    padding-bottom: 30px;
  }
  .footer-contact-tittle {
    font-size: 17px;
    font-weight: 550;
  }
  .footer-contact-content {
    font-size: 13px;
    height: 50px;
  }
  .footer-contact-input {
    font-size: 13px;
  }
  .footer-hotline-container {
    font-size: 13px;
    margin: 0;
    padding-bottom: 20px;
  }
  .footer-address {
    font-size: 13px;
    margin: 0;
  }
  .footer-address__container {
    flex-direction: column;
    padding: 0;
  }
  .footer-address-tittle {
    width: auto;
  }
  .footer-address-profile {
    font-size: 13px;
    width: 100%;
  }
  .footer-icon-url {
    padding: 20px;
  }
  .footer-address-content {
    width: 100%;
  }
}
@media (max-width: 1050px) {
  .footer-info__container {
    flex-wrap: wrap;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    margin: 0;
    border-bottom: 0.2px solid rgb(0, 0, 0, 0.3);
  }
  .footer-address__container {
    padding: 0;
    width: 100%;
    padding: 30px;
  }
  .footer-address-profile {
    font-size: 13px;
    padding: 0;
  }
}
