.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dropdown-item {
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item.selected {
  background-color: #eff0f2; /* Màu cho mục được chọn */
}

@media (max-width: 1025px) {
  .homepage-HAB-swiper {
    height: 250px;
  }
  .homepage-HAB-swiper-action {
    margin-top: 120px;
  }
  .homepage-HAB-swiper-buying {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px;
  }
  .homepage-HAB-swiper-review {
    margin-top: 10px;
    font-size: 14px;
  }
  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
  .homepage-H-B-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .homepage-H-B-header-content {
    width: 50%;
    margin: 0;
  }
  .homepage-H-B-header-content p {
    width: 100%;

    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    margin-top: 10px;
    text-align: justify;
  }
  .homepage-HAB-intro-content {
    font-size: 14px !important;
  }
  .homepage-HAB-intro {
    margin-top: 20px;
  }
  .homepage-HAB-intro-video {
    margin-top: 20px;
    width: 50%;
  }
  .homepage-HAB-intro-video-detail {
    width: 80%;
  }
  .header-comment__container {
    width: 100%;
  }
  .header-comment--tittle {
    font-size: 18px;
    font-weight: 550;
  }
  .slide-container-comment {
    display: flex;
    height: fit-content;
    font-size: 12px;
  }

  .slide-container-comment-tittle {
    font-size: 18px;
    font-weight: 600;
  }
  .slider-container-comment-circle {
    width: 10px;
    height: 10px;
  }
  .slider-container-comment-btn {
    padding: 5px;
  }
  .slide-container-comment-img-detail {
    width: 28%;
    height: 80%;
  }
  .homepage-HAB-QC {
    font-size: 14px;
    width: 100%;
    height: fit-content;
  }
  .homepage-HAB-QC-left {
    width: 100%;
    height: 400px;
    font-size: 14px;
    padding: 10px;
  }
  .homepage-HAB-QC-left-name {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .homepage-HAB-QC-left-tittle {
    font-size: 15px;
  }
  .homepage-HAB-QC-left-content {
    font-size: 14px;
    width: 100%;
  }
  .homepage-HAB-QC-right {
    height: 400px;
    width: 100%;
  }
  .homepage-HAB-QC-right-image {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 770px) {
  .slide-container-comment-img-detail {
    width: 38%;
    height: 80%;
  }
}

@media (max-width: 426px) {
  .homepage-H-B-header {
    flex-direction: column;
    width: 100%;
  }
  .homepage-H-B-header-profile-charmcharm {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .homepage-H-B-header-content {
    width: 100%;
  }
  .homepage-HAB-intro-image {
    width: 100%;
  }
  .homepage-HAB-intro-image-container {
    width: 100%;
    margin-top: 10px;
  }
  .homepage-HAB-intro-video {
    width: 100%;
  }
  .homepage-HAB-QC {
    flex-direction: column;
  }
  .homepage-HAB-QC-left {
    height: 300px;
  }
  .homepage-HAB-QC-right {
    height: 300px;
  }
  .slide-container {
    flex-direction: column;
    padding: 0;
  }
  .slide-container-comment {
    width: 100%;
    height: 100%;
    margin-top: 50px;
  }
  .slide-container-comment-show {
    height: 80%;
  }
  .slide-container-comment-img-detail {
    width: 22%;
    height: 80%;
  }
}
@media (max-width: 376px) {
  .homepage-HAB-QC-left-image-detail {
    height: 70%;
  }
  .homepage-HAB-QC-left-image {
    margin: 0;
  }
  .homepage-HAB-QC-left-name {
    font-size: 25px;
    padding: 0;
  }
  .homepage-HAB-QC-left {
    height: 250px;
  }
  .homepage-HAB-QC-left-content {
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
  }
  .homepage-HAB-QC-right {
    height: 250px;
  }
  .slide-container-comment-img-detail {
    width: 26%;
    height: 80%;
  }
}
@media (max-width: 321px) {
  .homepage-H-B-header-content p {
    padding: 0;
  }
  .homepage-HAB-QC-left-tittle {
    font-size: 14px;
  }
  .header-comment--tittle {
    padding-top: 20px;
  }
  .slide-container-comment-img-detail {
    width: 30%;
    height: 80%;
  }
}
