.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.dropdown-item {
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item.selected {
  background-color: #eff0f2; /* Màu cho mục được chọn */
}

@media (max-width: 1024px) {
  .homepage-HAB-swiper {
    height: 250px;
  }
  .homepage-HAB-swiper-action {
    margin-top: 120px;
  }
  .homepage-HAB-swiper-buying {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 13px;
  }
  .homepage-HAB-swiper-review {
    margin-top: 10px;
    font-size: 14px;
  }
  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
  .homepage-H-B-header {
    // flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .homepage-H-B-header-content {
    width: 100%;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
  .homepage-H-B-header-content p {
    width: 100%;
    max-width: 400px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
  }
  .homepage-HAB-intro-content {
    font-size: 14px !important;
  }
  .homepage-HAB-intro {
    margin-top: 20px;
  }
  .homepage-HAB-intro-video {
    margin-top: 20px;
    max-width: 350px;
  }
  .header-comment__container {
    width: 100%;
  }
  .header-comment--tittle {
    font-size: 18px;
    font-weight: 550;
  }
  .slide-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .slide-container-comment {
    width: 95%;
    margin: 0;
    display: flex;
    height: fit-content;
    font-size: 12px;
  }
  .slide-container-comment-show {
    flex-direction: column-reverse;
  }
  .slide-container-comment-img {
    width: 70px;
    height: 70px;
    margin-bottom: 40px;
    margin-left: -5px;
  }
  .slide-container-comment-tittle {
    padding-left: 80px;
    font-size: 18px;
    font-weight: 600;
  }
  .slider-container-comment-circle {
    width: 10px;
    height: 10px;
  }
  .slider-container-comment-btn {
    padding: 5px;
  }
  .homepage-HAB-QC {
    // height: 400px;
    font-size: 14px;
    flex-wrap: wrap;
    width: 100%;
  }
  .homepage-HAB-QC-left {
    width: 100%;
    height: 400px;
    font-size: 14px;
    padding: 10px;
  }
  .homepage-HAB-QC-left-name {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .homepage-HAB-QC-left-tittle {
    font-size: 15px;
  }
  .homepage-HAB-QC-left-content {
    font-size: 14px;
    width: 100%;
  }
  .homepage-HAB-QC-right {
    height: 300px;
    width: 100%;
  }
  .homepage-HAB-QC-right-image {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 391px) {
  .slide-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .slide-container-comment {
    width: 95%;
    margin: 0;
    display: flex;
    height: fit-content;
    font-size: 12px;
  }
  .slide-container-comment-show {
    flex-direction: column-reverse;
  }
  .slide-container-comment-img {
    width: 70px;
    height: 70px;

    margin: 0px;
    margin-bottom: 100px;
  }
  .slide-container-comment-tittle {
    padding-left: 80px;
    font-size: 18px;
    font-weight: 600;
  }
  .slider-container-comment-circle {
    width: 10px;
    height: 10px;
  }
  .slider-container-comment-btn {
    padding: 5px;
  }
  .homepage-HAB-QC {
    // height: 400px;
    font-size: 14px;
    flex-wrap: wrap;
    width: 100%;
  }
  .homepage-HAB-QC-left {
    width: 100%;
    height: 400px;
    font-size: 14px;
    padding: 10px;
  }
  .homepage-HAB-QC-left-name {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .homepage-HAB-QC-left-tittle {
    font-size: 15px;
  }
  .homepage-HAB-QC-left-content {
    font-size: 14px;
    width: 100%;
  }
  .homepage-HAB-QC-right {
    height: 300px;
    width: 100%;
  }
  .homepage-HAB-QC-right-image {
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 770px) {
  .slide-container-comment-img {
    width: 70px;
    height: 70px;
    position: none;
    margin: 0px;
    margin-bottom: 55px;
  }
}

@media (max-width: 426px) {
  .slide-container-comment-img {
    width: 70px;
    height: 70px;
    position: none;
    margin: 0px;
    margin-bottom: 100px;
  }
}
@media (max-width: 321px) {
  .homepage-HAB-QC-left-name {
    font-size: 25px;
  }
  .homepage-HAB-QC-left-tittle {
    font-size: 13px;
  }
  .homepage-HAB-QC-left-content {
    font-size: 13px;
    margin-top: 20px;
  }
  .slide-container-comment-img {
    margin-bottom: 120px;
  }
}
