$background-color_1: #f4aa2a;
$background-color_2: #f9f5ec;
$background-color_3: #a72020;
$background-color_4: #611a1a;
$background-color_5: #918d8d;
$primary-color: #9797e2; // Change color here. C'mon, try it!
$text-color: mix(#000, $primary-color, 64%);

.detail-product-comment-tittle {
  border-bottom: 1px solid white;
}
.detail-product-comment-left {
  border-right: 0.1px solid gray;
}
input[type="radio"] {
  appearance: none;
  background: #fff;
  border: 2px solid #777;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  vertical-align: text-bottom;
  position: relative;
}
input[type="radio"]::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
}
input[type="radio"]:checked::before {
  border: 5px solid transparent;
  border-radius: 100%;
  background: #a72020;
  margin: 4px;
}
.swiper-button-next {
  color: white !important;
}
.swiper-button-prev {
  color: white !important;
}
:root {
  --swiper-theme-color: white !important;

  --swiper-navigation-size: 30px !important;
}
.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: #ffffff !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
