@media (max-width: 1025px) {
  .product-HAB-items-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 40px;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
  }
  .product-HAB-items-container-show {
    width: 30%;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
  }
  .product-HAB-items {
    width: 100%;
    object-fit: fill;
  }
  .product-HAB-items-image {
    width: 100%;
    object-fit: fill;
  }
}
@media (max-width: 391px) {
  .product-HAB-items-container {
    width: 100%;
  }
  .product-HAB-items {
    height: 150px;
    width: 150px;
  }
  .product-HAB-items-image {
    height: 150px;
    width: 150px;
  }
  .product-HAB-items-container-show {
    width: 50%;
    margin-top: 20px;
  }
  .product-HAB-items-btn {
    width: 150px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .product-HAB-items-price {
    margin: 0;
  }
  .product-HAB-items-name {
    width: 150px;
  }
}
@media (max-width: 769px) {
  .product-HAB-items-container-show {
    width: 30%;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
  }
}
@media (max-width: 426px) {
  .product-HAB-items-container-show {
    width: 46%;
  }
}
