@media (max-width: 1025px) {
  .product-HAB-items-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .product-HAB-items-container-show {
    width: 30%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .product-HAB-items {
    width: 100%;
    object-fit: fill;
  }
  .product-HAB-items-image {
    width: 100%;
    object-fit: fill;
    margin-top: 20px;
  }
  .product-HAB-items-btn {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 769px) {
  .product-HAB-items-container-show {
    width: 30%;
    margin: 0;
    padding: 0;
  }
  .product-HAB-items-btn {
    padding: 0;
  }
}
@media (max-width: 426px) {
  .product-HAB-items-container-show {
    width: 46%;
    padding: 10px;
  }
  .product-HAB-items-price {
    margin: 0;
  }
  .product-HAB-items-container {
    padding: 5px;
    margin: 0;
    padding: 0;
  }
  .product-HAB-items-btn {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .product-HAB-add {
    margin-top: 7px;
    border: 1px solid;
    padding: 7px;
  }
}
@media (max-width: 321px) {
  .product-HAB-items-image {
    width: 100%;
    height: 100%;
  }
  .product-HAB-items-container-show {
    width: 50%;
  }
  .product-HAB-items {
    width: 100%;
    height: 100%;
  }
}
