.order-none-tittle {
  border-bottom: 2px solid white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.order-none-option-cart-number {
  border-bottom: 2px solid rgb(244, 170, 42, 0.2);
}
.order-none-sum-product {
  border-bottom: 2px solid rgb(244, 170, 42, 0.2);
}
