@import "./page/reset/Reset.scss";
@import "./page/header/Header.scss";
@import "./page/header/ShoppigBag.scss";
@import "./page//homepage/HomePage.scss";
@import "./page/product/ProductDetail.scss";
@import "./page/order/OrderNone.scss";
@import "./page/order/OrderPage.scss";
@import "./page/beauty/BeautyPage.scss";
@import "./page/cuisin/CuisinePage.scss";
@import "./page/feedback/Feedback.scss";
@import "./page/footer/Footer.scss";
@import "./page/intro/Intro.scss";
@import "./page/product/Product.scss";
@import "./page/beauty/BeautyMainOption.scss";
@import "./page/beauty/BeautyNomalOption.scss";
@import "./page/cuisin/CuisineMain.scss";
@import "./page/cuisin/CuisineNomal.scss";
@import "./page/contact/Contact.scss";
@import "./page/promotion/Promotion.scss";
@import "./page/learn/story.scss";
@import "./page/learn/healthyWay.scss";
@import "./page/learn/video.scss";
@import "./page/learn/infor.scss";
