@media (max-width: 1023px) {
  .Cuisine-profile-normal-tittle {
    width: 90%;
  }
  .Cuisine-profile-normal-detail-content {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .Cuisine-profile-normal-tittle {
    margin-top: 10px;
  }
  .Cuisine-profile-normal-detail-content {
    flex-direction: column;
  }
  .Cuisine-profile-normal-detail-image-detail {
    width: 100%;
  }
  .Cuisine-profile-nomal-content-all {
    width: 100%;
    margin-top: 10px;
  }
  .Cuisine-profile-normal-detail-image {
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 374px) {
  .Cuisine-profile-nomal-content {
    font-size: 15px;
  }
}
