@media (max-width: 1023px) {
  .Cuisine-profile-main-tittle {
    width: 90%;
  }
  .Cuisine-profile-main-detail-content {
    width: 90%;
  }
  .Cuisine-profile-main-detail-image-detail {
    width: 80%;
  }
  .Cuisine-profile-main-detail-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .Cuisine-profile-main-tittle {
    margin-top: 20px;
  }
  .Cuisine-profile-main-detail-content {
    flex-direction: column;
  }
  .Cuisine-profile-main-detail-image {
    width: 100%;
    height: 80%;
  }
  .Cuisine-profile-content-all {
    width: 100%;
  }
  .Cuisine-profile-main-detail-image {
    height: 100%;
  }
}
@media (max-width: 374px) {
  .Cuisine-profile-content-all {
    font-size: 15px;
  }
}
