@media (max-width: 1439px) {
  .cuisine-HAB-main-option {
    height: 400px;
  }
  .cuisine-info {
    padding: 0;
    padding: 30px;
  }
}
@media (max-width: 1023px) {
  .cuisine-info {
    padding: 20px;
  }
  .cuisine-info-tittle {
    font-size: 27px;
  }
  .cuisine-HAB-nomal {
    width: 32%;
  }
  .cuisine-HAB-nomal-option {
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .cuisine-HAB-main-option {
    height: 300px;
  }
  .cuisine-info {
    padding: 7px;
  }
  .cuisine-info-tittle {
    font-size: 17px;
  }
  .cuisine-info-content {
    font-size: 14px;
    padding-top: 20px;
    margin: 0;
  }
  .cuisine-info-btn {
    margin-top: 20px;
    font-size: 15px;
  }
  .cuisine-HAB-nomal {
    width: 45%;
  }
  .cuisine-HAB-nomal-option {
    padding: 10px;
  }
  .CucontentCuisine-info-content {
    padding-top: 10px;
    font-size: 14px;
  }
}
@media (max-width: 424px) {
  .cuisine-HAB-main-option {
    flex-direction: column;
  }
  .cuisine-HAB-main-option-image {
    width: 100%;
  }
  .cuisine-info {
    width: 100%;
    padding: 10px;
  }
  .cuisine-HAB-main-option {
    height: fit-content;
  }
  .cuisine-tittle {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
@media (max-width: 374px) {
  .cuisine-HAB-nomal-option {
    padding: 5px;
    padding-bottom: 20px;
  }
  .cuisine-HAB-nomal {
    margin-top: 20px;
  }
}
